@import 'header';
@import 'form';
@import 'common';
@import 'flash';
@import 'dropdown';
@import 'task_show';
@import 'profile';

.container {
  padding: 16px 16px;
  width: 100%;
  position: relative;
}