h1{
  margin: 16px;
}

a{
  text-decoration: none;
  color: black;
}

.board,.task, .content_show{
  width: 80%;
  padding: 16px 16px;
  border: 1px solid #ebebeb00;
  margin: 16px;
  background-color: #EBEBEB;
  border-radius: 5%;

  .task_image img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
  }

  .board_top,.task_top{
    display: flex;
    justify-content: space-between;


    .menu{
      margin-top: 30px;
    }
  }

  .creater{
    display:flex;
    justify-content: space-between;
  }
}
.new_board,.new_task {
  width: 80%;
  margin: 16px;
  border: 1px dashed #EBEBEB;
  padding: 32px;
  border-radius: 5%;
}