h1{
  margin: 16px;
}

a{
  text-decoration: none;
  color: black;
}

.board,.task{
  width: 70%;
    // margin: 8px 0px;
    padding: 16px 16px;
    border: 1px solid #EBEBEB;
    margin: 16px;
    background-color: #EBEBEB;
    border-radius: 5%;

    .board_top,.task_top{
      display: flex;
      justify-content: space-between;


      .menu{
        margin-top: 5px;
      }
    }
}
.new_board,.new_task {
  width: 70%;
  margin: 16px;
  border: 1px dashed #EBEBEB;
  padding: 32px;
  border-radius: 5%;
}