.board_detail_actions {
  position: relative;
  display: inline-block;
}

.board_detail_actions .dropbtn {
  cursor: pointer;
}

.dropdown-lists {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-lists li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-lists li:hover {
  background-color: #f1f1f1;
}

.board_detail_actions:hover .dropdown-lists {
  display: block;
}